<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="LogFile" fileName="logs/logFile.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </appenders>
    <loggers>

        <logger name="logger" level="info" additivity="false">
            <appender-ref ref="LogFile"/>
        </logger>

        <root level="info">
            <appender-ref ref="LogFile"/>
        </root>

    </loggers>
</configuration>